<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="\stylesheets\main.css">
  </head>
  <body>
    <div class="container">
    <%- include('../partials/headers.ejs') %>
    </div>
    <div class="inner-container">
    <%- include('../partials/errorMessage.ejs') %>
    <%- body %>
    </div>

  </body>
</html>
