<h2>Recently Added</h2>
<div class="">
  <% books.forEach(book =>{%>
    <a href="/books/<%= book.id %>">
      <img src="<%= book.coverImagePath %>" alt="Book" width="100" height="150">
    </a>
  <% }); %>
</div>
